<!DOCTYPE html>
<html>
<head>
    <title>Welcome</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/default.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <script src="/scripts/script.js">
    </script>
</head>
<body>

<!-- Menu Area -->
<div id="menuArea">
    <button onclick="loadContent('/search')">Search</button>
    <button onclick="loadContent('/index')">Index</button>
    <button onclick="loadContent('/stats')">Stats</button>
</div>

<!-- Main Area -->
<div id="mainArea">
    <h1>Welcome to My Spring Boot Application</h1>
</div>

</body>
</html>
